# MongoDB
MONGO_URI=mongodb+srv://Neil_User:iIbA69ZdoWq2K3JD@communityhub.tck2szm.mongodb.net/?appName=CommunityHub

# JWT
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=7d

# Gemini AI
GEMINI_API_KEY=your_gemini_api_key_here

# Service Ports
GATEWAY_PORT=4000
AUTH_SERVICE_PORT=4001
COMMUNITY_SERVICE_PORT=4002
BUSINESS_EVENTS_SERVICE_PORT=4003
AI_SERVICE_PORT=4004

# Client
VITE_GATEWAY_URL=http://localhost:4000/graphql
